﻿@model IEnumerable<SimpleProject.Models.Course>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Course List</h1>

<form class="form-inline">
    <input name="@Html.DisplayNameFor(model => model.Name)" class="form-control" placeholder="Name" value="@(Context.Request.Query["name"])" />
    <select class="form-control" name="@Html.DisplayNameFor(model => model.Mode)">
        <option value="">All Mode</option>
        @foreach (var mode in ViewBag.Modes)
        {
            <option value="@(mode)" selected="@(Context.Request.Query["mode"] == mode)">@(mode)</option>
        }
    </select>
    <select class="form-control" name="@Html.DisplayNameFor(model => model.Affiliation)">
        <option value="">All Affiliation</option>
        @foreach (var aff in ViewBag.Affiliations)
        {
            <option value="@(aff)" selected="@(Context.Request.Query["affiliation"] == aff)">@(aff)</option>
        }
    </select>
    <button type="submit" class="btn btn-primary">Search</button>
    @if (ViewBag.ShowClearButton)
    {
        <a asp-action="Index" class="btn btn-primary">Clear Result</a>
    }
</form>

@if (Context.Request.Query.ContainsKey("name") && !Context.Request.Query["name"].Equals(""))
{
    <p>
        Search Result For: <b>@(Context.Request.Query["name"])</b>
    </p>
}


<p>
    <a asp-action="Create">Create Course</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Affiliation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Affiliation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
