﻿@model IEnumerable<SimpleProject.Models.Course>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Never Stop Learning</h1>
    <h3>Learn Amazing Course Here</h3>
    <div class="row">
        @foreach (var model in Model)
        {
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@(model.Name)</h5>
                        <h6 class="card-subtitle mb-2 text-muted">By @(model.Affiliation)</h6>
                        <h2>$@(model.Price)</h2>
                        <a asp-controller="Courses" asp-action="Details" asp-route-id="@(model.Id)" class="card-link">Detail</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
